@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

