.buttom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  text-align: center;
  min-height: var(--sheet-height);
  border-radius: 25px 25px 0 0;
  display: flex;
  max-height: 300px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  padding: 15px 20px 50px;
  animation: slideUp 0.3s cubic-bezier(0.32, 0.72, 0, 1);
  z-index: 5;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
