.buttom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 12px; /* убрали лишний большой паддинг */
  min-height: var(--sheet-height); /* минимум 50px, но может быть выше */
  animation: slideUp 0.3s cubic-bezier(0.32, 0.72, 0, 1);
  z-index: 5;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
