:root {
  --sheet-height: 200px;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.background-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}


.sort-wrapper {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.avatar-wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.teasers-title {
  font-size: 22px; 
  font-weight: 500;
  color: white;
  margin: 0;
  
}

.teasers-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  padding: 0 12px;
}

.teasers-subtext {
  font-size: 14px;
  color: white;
  margin: 0;
}

.teasers-label {
  color: #aaaaaa;
}


.teasers-dots {
  width: 20px;
  height: 20px;
  filter: brightness(10); 
  cursor: pointer;
  margin-right: 20px;
}

.teasers-image {
  width: calc(100% - 16px);    
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 25px;
  object-fit: cover;
  display: block;
}

