:root {
  --sheet-height: 50px;
}


.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.background-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}


.avatar-wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}


.sort-wrapper {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}


.track-block {
  display: flex;
  align-items: center;
  width: 100%;
}

.track-cover {
  width: 75px;      
  height: 75px;     
  border-radius: 20px;
  object-fit: cover;
  margin-right: 12px;
  flex-shrink: 0;
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.3;
  margin-top: -25px;
}

.track-title {
  font-size: 18px;  
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.track-artist {
  font-size: 14px;  
  color: #aaa;
  margin: 1px 0 0 0;
}