.search-icon-wrapper {
  position: fixed;
  top: 25px;     /* 👈 Поднимаем чуть выше */
  right: 20px;   /* 👈 Отступ справа */
  z-index: 10;
}

.search-icon-fat {
  width: 40px;
  height: 40px;
  filter: brightness(10); /* белая иконка */
  cursor: pointer;
}