.track-progress-bar.small {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.track-progress-bar.small .progress-bar-container {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.track-progress-bar.small .progress-bar {
  height: 100%;
  background-color: #fff;
  border-radius: 0;
}
